 body {
                background: #ff7de7;
                font-family: "Arial", "Courier New", monospace;
            }
            
            p {padding:1em; line-height:2em;}

body section.gallery {
   width: 100%; 
    background-color: #00fbff; 
    padding:6em; 
    /*margin:auto;*/ 
    }

/* ebb: This is a comment in CSS: 
 * Notice that the properties I set on the <body> element get passed down to elements inside it. So all my text is the color and font that I set here. 
 * If I want to change the styling of internal elements, I can just enter their names and apply CSS properties to them, following CSS syntax. 
 */

section.gallery figure {
    flex: 1; 
    margin:auto; 
    padding-top: 1vw; 
    padding-bottom: 1vw; 
    width: 50%
    }
figcaption {
font-style: italic; 
font-size: smaller;
padding: 1em;
}

img.photo {max-width:200px; width:200%; float: left;
  width: 30%;
  padding: 20px;}
  after {
  content: "";
  clear: both;
  display: table;
  padding:50px;
}
/* If I want to style ANY element with the class of "photo" I could just write 
 * .photo { }
 *  */

ol {list-style-type: lower-alpha;
padding: 4em;
    
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link. I used a hexadecimal color code for something dark green that I picked from: 
 * https://www.w3schools.com/colors/colors_picker.asp  */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: pink;
}

/*nav.menuA {text-align: center; font-size: 3vw; }*/
/*  Units to try: em and vw. vw means a percentage of the viewport width 
 * and is often used in responsive web design (responsive to size of device screens)
 * em is also responsive: it is the width of the standard letter M in your font usually 16 px. 
 *  */
 
 nav {background-color:#ff7de7;
 display:flex;
 
 }

 nav > img.photo {
max-width:100px;
     flex:1;
 }
 
 nav > ul.menuB {
 list-style-type: none;
flex:9;
  
}

nav ul.menuB li {
  display:inline;
  font-size: 1.5vw; /*padding:2vw;*/
  padding-left:1vw;
  padding-right:1vw;
  padding-top:5vw;
  padding-bottom:10vw;


}

nav#menu {padding:2vw; }
 
.button { border:2px; border-style:solid; border-color:blue; padding:2vw; background-color:#E6E6FA; color:yellow; width:10%; display:inline;
 border-radius: 20px;
 }
 
/*  TimeMapper Section */
section.timemap {width: 80%; margin:auto;}
 section.flex {display: flex;
width:100%;;  
 }
 
div#kumu { flex:4;

 }
.kumuDesc{flex:1}
iframe#kumuPlot{width:100%; height:200%;}
 